<header class="navbar navbar-light" style="background-color: #00288b;" >
    <a class="navbar-brand" href="#">
      <img src="assets/images/bdlogo.png" width="85" height="50" alt=""/>
    </a>
    <div class="container">
      <a class="navbar-brand" href="#" style="color:white;font-size:15px;width:90px">Profile</a>
    <a class="navbar-brand" href="/login" style="color:white;font-size:15px;width:70px">Logout</a>
    
    </div>
</header>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#" style="font-size:40px;width:25%">Staffing Tool</a> --> 
  
        <a class="ex1" href="#" style="width:15%;font-size:150%" ><b>Home</b></a>
      <a class="ex2" href="/tagging" style="width:15%;font-size:150%"><b>Tagging</b></a>
      <a class="ex3" href="#"  style="width:15%;font-size:150%"><b>Offboarding</b></a>
      <a class="ex4" href="#"  style="width:15%;font-size:150%"><b>Reports</b></a>
    
   </nav>
  
    
  
