<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
     Navbar content -->
  <!-- </nav>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  </header>  -->
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
    <a class="navbar-brand" href="#">
      <img src="assets/images/bdlogo.png" width="40" height="40" alt=""/>
    </a>
    <a class="navbar-brand" href="#">Login</a>
    <a class="navbar-brand" href="#">Register</a>
   </nav>
